body{
    background-color: #0275ce;
}

/* Estilos para el encabezado */
header {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para el logo */
.logo {
    width: 100%;
    max-width: 50vh;
    height: auto;
    display: block;
}

main {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.titulo_factura{
    align-content: center;
    margin: 3%;
}

.contenedor_factura{
    background-color: #c0c0c2;
    padding: 5%;
    margin: 5%;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 10px;
}